<xf:if is="{$thread.thread_title_edit_count} && {{ $thread.canViewThreadTitleHistory() }}">
	<li>
		<span class="u-muted">
			<a href="{{ link('threads/TitleHistory', $thread) }}"
			   class=""
			   dir="auto"
			   data-xf-click="toggle"
			   data-target=".js-titleHistoryTarget"
			   data-menu-closer="true"
			>
				{{ phrase('title_history') }}
			</a>
		</span>
		<div class="js-titleHistoryTarget toggleTarget"
			 data-href="{{ link('threads/TitleHistory', $thread) }}"
			 data-load-selector=".js-titleHistoryTarget"></div>
	</li>
</xf:if>