<xf:macro name="history"
		  arg-content="!"
		  arg-path="!"
		  arg-pathSuffix="/title-history">
	
<xf:if is="callable($content, 'getTitleEditCount') && $content.getTitleEditCount() && $content.canViewTitleHistory()">
	<xf:set var="$link" value="{{ link( $path . $pathSuffix, $content) }}" />
	<li>
		<span class="u-concealed">
			<a href="{$link}"
			   class=""
			   dir="auto"
			   data-xf-click="toggle"
			   data-target=".js-titleHistoryTarget"
			   data-menu-closer="true"
			>
				{{ phrase('title_history') }}
			</a>
		</span>

		<div class="js-titleHistoryTarget toggleTarget"
			 data-href="{$link}"
			 data-load-selector=".js-titleHistoryTarget"></div>
	</li>
</xf:if>
</xf:macro>